<h1> Teste Icons </h1>

<ion-icon name="basketball-outline"></ion-icon>
<ion-icon name="battery-charging-outline"></ion-icon>
<ion-icon name="arrow-back"></ion-icon>
<ion-icon name="paw-outline"></ion-icon>
<ion-icon name="fitness"></ion-icon>

<router-outlet></router-outlet>
